In [ ]:
# 【0】akshare安装+简介:
'''
https://www.akshare.xyz/zh_CN/latest/index.html
（1）安装：
    pip install akshare  --upgrade
    pip install akshare -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host=mirrors.aliyun.com  --upgrade
    pip install akshare -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host=mirrors.aliyun.com
'''

In [2]:
# 【1】akshare 分时stock_zh_a_minute; 日线 stock_zh_index_daily
import akshare as ak
import pandas as pd
# ========================================================= 全局显示设置 pandas，使用方法:
# 列名与数据对其显示
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
# ========================================================= 分时
# stock_zh_a_minute_df = ak.stock_zh_a_minute(symbol='sz000876', period='1', adjust="qfq")
# print(stock_zh_a_minute_df)
# —————————————————————— 日线
stock_zh_index_daily_df = ak.stock_zh_index_daily(symbol="sh601288")
print(stock_zh_index_daily_df.shape)
df=stock_zh_index_daily_df.astype('float64')
df['volume']=df['volume'].map('{:,.2f}'.format)
display(df.head())
# =========================================================
df.to_csv(r'C:\Users\hp\Desktop\akshare_601288.csv')

(2698, 5)

            open  high   low  close            volume
date
2010-07-15  2.74  2.74  2.69   2.70  4,039,725,056.00
2010-07-16  2.70  2.70  2.68   2.69  1,378,955,136.00
2010-07-19  2.68  2.71  2.68   2.71  1,146,738,304.00
2010-07-20  2.70  2.71  2.69   2.71    844,226,048.00
2010-07-21  2.70  2.71  2.69   2.71    622,094,336.00

In [1]:
import pandas as pd
# df=pd.read_csv(r'C:\Users\hp\Desktop\akshare_601288.csv')
df=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(df.shape)
display(df)
pd.DataFrame()

(4, 2)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8