In [ ]:
# 【0】Sqlite 简介 ：菜鸟学习 https://www.runoob.com/sqlite/sqlite-python.html 
'''
1. 前言
    Sqlite 是一种 嵌入式数据库，数据库就是一个文件，体积很小，底层由 C 语言编写，经常被集成到移动应用程序中
    事实上，Python 内置了 sqlite3 模块，不需要安装任何依赖，就可以直接操作 Sqlite 数据库
2. 准备
    和 Python 操作 Mysql 类似，操作 Sqlite 主要包含下面 2 种方式：
    sqlite3 + 原生 SQL
    SQLAlchemy + ORM
3.数据类型
        Null         空值
        SMALLLINT    短整型
        INTEGER      带符号的整数 这个就是布尔类型 0（false）和 1（true）
        TINYINT      长整型
        REAL         浮点值
        TEXT         大量文本字符串
        BLOB         二进制对象       
        NUMERIC      使用所有五个存储类的值
        VARCHAR(n)   变动长度字符串，只能存英文，最多8000个字符
        CHAR(n)      固定长度字符串
        DATA         年月日
        TIME         时分秒
        DOUBLE       双精度浮点数
        FLOAT        单精度浮点数
        TIMESTAMP    存储年月日时分秒
        NCHAR        存储Unicode数据类型的固长字符串 ，可存英文汉字，做多4000个字符
        NVARCHAR 存储Unicode数据类型的变长字符串
        NTEXT        存储Unicode数据类型的大量文本字符串
        DATATIME     存储日期时间
4.基本关键字
        了解了数据类型，在创建数据库时用于操作时需要配套使用的关键字当然也必须得了解，这样才能提高开发效率。
        AND   与
        BETWEEN  最小值和最大值之间
        EXISTS 判断是否存在
        IN  判断某个值是否属于另一个值
        NOT IN 判断某个值是否不属于另一个值
        LIKE 使用通配符比较值与另一个值 不区分大小写 %(表示零个,一个或者多个)  _(表示一个)
        GLOB  使用通配符将值与类似值进行比较，并区分大小写的 *(表示零个或多个)     ?(表示一个)
        LIMIT  限制满足条件的值的数量
        ORDER BY 排序  ASC(升序) | DESC(降序)
        GROUP BY  数据聚合
        HAVING   过滤分组，使用前一定要使用GROUP BY
        DISTINCT   消除所有重复记录
        NOT  不，常和in一起用
        OR   或
        IS NULL  判断是否等于空值，类型运算符
        IS  相当于‘=’
        IS NOT  判断是否不等于 相当于“！=”
        UNIQUE    不重复
        UNION     消除所有重复行
        UNIONALL  不消除重复行
        WHERE   用于满足某个条件时
        SELECT  选择
        FROM   来自
        INSERT INTO 插入表数据
        PRIMARY Key  主列
        DEFAULT 默认值
        CHECK 检查
'''

In [ ]:
# 【1】SQLite 学习：连接数据库 + 创建表 + INSERT 操作
import sqlite3
import os
file_path=os.path.join(os.path.expanduser('~'),"Desktop",'test.db')
# print(file_path)
# —————————————————————————————— 连接数据库，不存在则创建
conn = sqlite3.connect(file_path)
print("Opened database successfully")
c = conn.cursor()
# —————————————————————————————— 创建表
c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print("Table created successfully")
# —————————————————————————————— INSERT 操作
c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")
c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")
c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")
c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

# —————————————————————————————— 
conn.commit()
conn.close()

In [ ]:
# 【1】SQLite 学习：SELECT 操作 +
import sqlite3
import os
file_path=os.path.join(os.path.expanduser('~'),"Desktop",'test.db')
# —————————————————————————————— SELECT 操作
conn=sqlite3.connect(file_path)
c=conn.cursor()
cursor = c.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")
conn.close()

In [ ]:
# 【1】SQLite 学习：UPDATE 操作
import sqlite3
import os
file_path=os.path.join(os.path.expanduser('~'),"Desktop",'test.db')
conn=sqlite3.connect(file_path,timeout=10)
c = conn.cursor()
print("Opened database successfully")
c.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=1")
conn.commit()
print("Total number of rows updated :", conn.total_changes)
cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")
print("Operation done successfully")
conn.close()