In [ ]:
# 【0】简介：安装 配置 登录 修改密码 mysql + 安装 python操作端口 pip3 install pymysql
'''
(1) Python 操作 Mysql 主要包含下面 3 种方式：Python-MySql、PyMysql、SQLAlchemy
    Python-MySql ：由 C 语法打造，接口精炼，性能最棒；但是由于环境依赖多，安装复杂，已停止更新，仅支持 Python2
    PyMysql： 为替代 Python-Mysql 而生，纯 Python 语言编写的 Mysql 操作客户端，安装方便，支持 Python3
    SQLAlchemy  ： Python 中的 SQLAlchemy 模块为例，配合使用其他第三方模块，SQLAlchemy 能够操作各种数据库，
                包括 Oracle、PostgreSQL、MySQL、SQLite、SQL Server 等等，如果你还没有安装，可以通过以下命令进行安装：
（2）安装：pip3 install pymysql
           pip install sqlalchemy     
           pip install cx_Oracle
（3）要测试 SQLAlchemy 模块是否正确安装，可以在 Jupyter Lab 中运行以下代码：
        import sqlalchemy as sa
        sa.__version__
        
微信文章：
https://mp.weixin.qq.com/s/0juSS6i8sjeJK3CoVItAlQ
——————————————————————————————————————
其他学习网站：
https://www.runoob.com/mysql/mysql-install.html
http://c.biancheng.net/view/7571.html

（4）mysql账户初始密码 —— root@localhost: xr0(d,7:Mppb
    使用了以下命令更改密码—— mysqladmin -u root -p password "whhxpp"
    【0】现在登录命令方式1为：mysql -h localhost -u root -pwhhxpp
    【1】现在登录命令方式2为：mysql -h localhost -u root -p  ，回车， 再输入密码：whhxpp
  ———————————————————————
    使用mysqladmin命令在命令行指定新密码
        root 用户可以使用 mysqladmin 命令来修改密码，mysqladmin 的语法格式如下：
        mysqladmin -u username -h hostname -p password "newpwd"

        语法参数说明如下：
        usermame 指需要修改密码的用户名称，在这里指定为 root 用户；
        hostname 指需要修改密码的用户主机名，该参数可以不写，默认是 localhost；
        password 为关键字，而不是指旧密码；
        newpwd 为新设置的密码，必须用双引号括起来。如果使用单引号会引发错误，可能会造成修改后的密码不是你想要的。

        下面使用 mysqladmin 将 root 用户的密码修改为“rootpwd”，在 Windows 命令行窗口（cmd）中执行命令和运行结果如下：
        C:\Users\leovo>mysqladmin -u root -p password "rootpwd"
  ———————————————————————        
（5）在命令提示符界面可以通过登录命令： mysql -h 127.0.0.1 -u root -p  连接 MySQL 数据库。
    按回车键，系统会提示输入密码（Enter password），这里输入配置向导中设置的密码，验证正确后，即可登录 MySQL 数据库
    提示：
    mysql 为登录命令，
    -h 后面的参数是服务器的主机地址，在这里客户端和服务器在同一台机器上，所以输入 localhost 或者 IP 地址；
    -u 后面跟登录数据库的用户名称，在这里为 root；
    -p 后面是用户登录密码。
  ———————————————————————
  可以在 mysql 命令中直接加上密码，该命令为 mysql -h localhost -u root -proot。这里的 -p 后面的 root 就是密码。
  此处特别注意 -p 和密码之间没有空格。如果出现空格，系统将不会把后面的字符串当成密码来对待。
  ———————————————————————
 登录成功后进入 MySQL 初始界面，会出现“Welcome to the MySQL monitor”的欢迎语，然后下面还有一些说明性的语句
    
'''

In [ ]:
# 【0】创建数据库 + 选择数据库 + 创建数据表 + 插入数据 + 读取数据表：
# ——————————————————————————————
    root@host# mysql -u root -p     # ————————————— 登录数据库
    Enter password:*******
    mysql> create DATABASE RUNOOB;  # ————————————— 创建数据库
    mysql> use RUNOOB;              # ————————————— 选择数据库
    Database changed
    mysql> CREATE TABLE runoob_tbl(  # ————————————— 创建数据表
       -> runoob_id INT NOT NULL AUTO_INCREMENT,
       -> runoob_title VARCHAR(100) NOT NULL,
       -> runoob_author VARCHAR(40) NOT NULL,
       -> submission_date DATE,
       -> PRIMARY KEY ( runoob_id )
       -> )ENGINE=InnoDB DEFAULT CHARSET=utf8;
    Query OK, 0 rows affected (0.16 sec)
    mysql> INSERT INTO runoob_tbl     # —————————————  插入数据
        -> (runoob_title, runoob_author, submission_date)
        -> VALUES
        -> ("学习 PHP", "菜鸟教程", NOW());
    Query OK, 1 rows affected, 1 warnings (0.01 sec)
    mysql> INSERT INTO runoob_tbl
        -> (runoob_title, runoob_author, submission_date)
        -> VALUES
        -> ("学习 MySQL", "菜鸟教程", NOW());
    Query OK, 1 rows affected, 1 warnings (0.01 sec)
    mysql> INSERT INTO runoob_tbl
        -> (runoob_title, runoob_author, submission_date)
        -> VALUES
        -> ("JAVA 教程", "RUNOOB.COM", '2016-05-06');
    Query OK, 1 rows affected (0.00 sec)      
    mysql>select * from runoob_tbl;   # —————————————   读取数据表：

In [ ]:
# 【1】pymysql + sqlalchemy + pandas 连接读取 mysql：
import sqlalchemy
import pymysql
import pandas as pd
# ————————————————————————————————————————————
# engine = sqlalchemy.create_engine('mysql+pymysql://root:whhxpp@127.0.0.1:3306/runoob')
#  mysql+pymysql:// 用户名:密码@地址:端口/数据库名称
# ——————————————————
# engine= pymysql.connect(
#   host='127.0.0.1',    # 服务器ip地址  localhost 或 127.0.0.1
#   port=3306,           # mysql默认端口号
#   user="root",         # 用户名
#   password="whhxpp",   # 密码
#   charset="utf8",      # 字符集
#   db="runoob"          # 数据库
# )
# sql='select * from runoob_tbl'
# df = pd.read_sql(sql,engine)
# display(df)               # runoob_id runoob_title runoob_author submission_date

# ————————————————————————————————————————————////

db = pymysql.connect(
  host='127.0.0.1',    # 服务器ip地址  localhost 或 127.0.0.1
  port=3306,           # mysql默认端口号
  user="root",         # 用户名
  password="whhxpp",   # 密码
  charset="utf8",      # 字符集
  db="runoob"          # 数据库
)

cursor = db.cursor()   # 建立游标
sql='select runoob_id,runoob_title from runoob_tbl '
cursor.execute(sql)    # 执行sql语句
cds = cursor.fetchall()
df = pd.DataFrame(list(cds),columns=['ID','Title'])
display(df)
cursor.close()        # 关闭游标
db.close()            # 关闭数据库连接